<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css" />
    <title><%=title%></title>
</head>
<body>
    <%- include('partials/header.ejs'); -%>
    <div class="about">
        <h1>About us</h1>
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugit illum ullam sunt aliquid aspernatur
           <br> sequi adipisci. Dolores pariatur quia animi sint vero quisquam expedita sapiente accusamus voluptas quis
           <br> fugit cumque aperiam nostrum temporibus autem dolorum, itaque amet debitis natus, numquam similique
           <br> quo sit voluptatibus. Dicta distinctio voluptatum vitae nulla aut dolores maxime veritatis vel, quo obcaecati 
           <br>culpa maiores, hic molestias recusandae quae quam nobis magni libero! Vel facilis reiciendis aperiam, veniam expedita,
           <br> vitae, autem fuga vero pariatur dolorem suscipit odio a quas deserunt quaerat esse consequatur omnis perferendis
           <br> voluptatibus aspernatur exercitationem maiores blanditiis. Enim, porro voluptatibus tenetur non distinctio debitis
           <br> sequi aspernatur magni vero, perferendis voluptas saepe aut, sit laudantium? Molestias, alias animi. Non aut error
           <br> sequi voluptas id, assumenda consequuntur labore saepe! Dolorum a eaque vel exercitationem facere illum ipsum
           <br> sapiente, id adipisci rem quam earum est. Architecto, voluptas non vero saepe, eveniet nesciunt, hic itaque
           <br> veritatis ea et labore recusandae rerum ab obcaecati explicabo maiores quis corporis delectus reprehenderit!<br> Architecto ipsam aspernatur tempore culpa expedita fuga vero provident facere sed, in ipsa atque itaque nisi<br> voluptatibus nemo dolore ad ut quia aut doloribus corrupti. Commodi, nulla nisi. Sed error quibusdam, sint<br> exercitationem culpa porro. Animi quidem distinctio doloribus rem accusantium quos dolores harum dolore neque<br> laudantium adipisci vitae temporibus blanditiis tempora illum inventore, ea aperiam enim ut odit perspiciatis<br> vero consequatur nemo voluptates. Laudantium odit, aspernatur laboriosam asperiores ipsam quos placeat exercitat<br> accusamus, aliquid, enim praesentium eaque natus porro at iure. Quod culpa maiores delectus, perspiciatis<br> quaerat fuga error minima illo cumque, numquam earum voluptate deleniti amet sint ratione quae aspernatur<br> obcaecati quidem est autem dicta. Error excepturi voluptas nostrum vitae est cum architecto ut accusamus<br> repudiandae cumque vel in veniam, voluptatem expedita quo porro magnam pariatur? Atque temporibus provident<br> repellendus eveniet ullam unde ad, dolorum odit.
        </p>
        <%- include('partials/footer.ejs'); -%>
    </div>
</body>
</html>