<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css" />
    <title><%=title%></title>
</head>
<body>
    <%- include('partials/header.ejs'); -%>
    <div class="home">
       <div class="home-content">
            <h2>
                Craft <br/> 
                an original and <br/>
                enchanting blog
            </h2>
            <p>
                Blogifier is the ultimate hub where exceptional writing<br/>
                meets a vibrant and involved community, fostering the<br/>
                birth, sharing, and dissemination of ideas.
            </p>
            <a href='/make-post' class="btn">Post Blog</a>
       </div>
       <div class="home-img">
        <img src="asset/home-img.png"  alt="home-img" />
       </div>
    </div>

</body>
</html>